# Ignore Vim/NeoVim swap files
*.swp
*.swo

# Ignore directories
docs/
latex/
tests/bin/

# Ignore object files
*.o
*.a
*.d
*.out
*.so
*.exe

# Ignore compiled executables
a.out
cub3D
unit_tests

# Ignore Doxygen config file
Doxyfile

# VS Code settings
.vscode/
*.code-workspace

# .supp file for valgrind
*.supp

# nvim json configs
.json
compile_commands.json

# nvim cache
.cache/

